/* MAIN APP */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	background-image: url('./assets/pexels-pixabay-209831.jpg');
	background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-color: #243642;
}

.title {
	font-size: 3rem;
	color: #E2F1E7;
	margin-bottom: 20px;
}

/* WEATHER CARD */

.weather-card {
    background-color: #fff;
    width: 350px;
    padding: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	border: 2px solid transparent;
}

.weather-left {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.day-of-week-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.day-of-week {
	font-size: 1.5rem;
	color: #243642;
}

.city-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

.city-info h2 {
    font-size: 1.2rem;
    color: #243642;
    margin: 0;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.temperature {
    font-size: 2.5rem;
    font-weight: bold;
    color: #387478;
    margin-top: 10px;
}

.weather-description {
    font-size: 1.2rem;
    color: #243642;
    margin-top: 10px;
}

.weather-right {
    text-align: right;
    flex: 1;
    width: 100%;
}

.weather-right p {
    font-size: 1rem;
    color: #243642;
}

.weather-left p {
    margin: 5px 0;
}

.search-bar {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    background-color: #387478;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #629584;
}

/* SEARCH BAR */

.search-bar {
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-button {
	background-color: #387478;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 15px;
	cursor: pointer;
	font-size: 16px;
}

.search-button:hover {
	background-color: #629584;
}

.weather-info {
	margin-top: 20px;
}

.weather-info h2 {
	margin: 0;
	font-size: 20px;
}

.weather-info p {
	margin: 5px 0;
	font-size: 16px;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	background-color: #E2F1E7;
}

.search-input {
	width: 250px;
	padding: 10px;
	border: 2px solid transparent;
	border-radius: 10px;
	margin-right: 10px;
	font-size: 16px;
	outline: none;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
	border: 2px solid #387478;
	background-color: #ffffff;
}

.search-button {
	padding: 10px 20px;
	background-color: #387478;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.search-button:hover {
	background-color: #629584;
	}

/* ERROR */

.error-message {
	color: red;
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}